<div>
  <form [formGroup]="form" (ngSubmit)="doSave()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input formControlName="title" label="Title"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea formControlName="description" label="Description"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="form.invalid">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-list>
        @for (task of tasks; track $index) {
          <app-card [title]="task.title" [description]="task.description"></app-card>
        }
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
